@import '~antd/dist/antd.css';

* {
  box-sizing: border-box
} 

html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
  /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
}

.popup {
  width: 200px;
  height: auto;
}

.button {
  width: 100%;
  display: block;
  border-color: transparent;
  text-align: left;
  font-size: 15px;
}

.button:hover {
  border-color: transparent;
}


