.popup {
  width: 180px;
  height: auto;
}

.popup-option {
  width: flex;
  color: #4CAF50;
  border-color: transparent;
  display: block;
}

.button {
  cursor: pointer;
  width: 100%;
  color: black;
  border-color: transparent;
  background-color: white;
  border-style: solid;
  text-align: left;
  padding: 4px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}

.popup-option:hover {
  background-color: rgb(214, 214, 214);
}

.popup-option:hover button{
  background-color: rgb(214, 214, 214);
}


